<%- include('partials/header'); -%>

<!-- <h1>About</h1> -->
<% aboutContents.forEach((element)=>{ %>
    <h1>
        <%= element.name %>
    </h1>
    <p><%= element.content %></p>

    <% }) %>



<%- include('partials/footer'); -%>