<%- include('partials/header'); -%>

<% contactContents.forEach((element)=>{ %>
    <h1>
        <%= element.name %>
    </h1>
    <p><%= element.content %></p>

    <% }) %>


<%- include('partials/footer'); -%>